@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --light-gray: hsl(0, 0%, 52%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements-background: hsl(209, 23%, 22%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --box-shadows: 0px 10px 66px 5px rgba(0, 0, 0, 0.1);
  --document-font-family: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark-mode-background);
  width: 100vw;
  font-family: var(--document-font-family);
  color: var(--dark-mode-text);
  transition: 0.5s;
}


.main-display {
    width: 100%;
    opacity: 1;
}

header {
  width: 100%;
  padding: 1rem 0;
  background: var(--dark-mode-elements-background);
}

header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#theme-toggle {
    cursor: pointer;
}

.input-boxes {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search-input,
.filter-input {
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  color: var(--dark-mode-text);
  background: var(--dark-mode-elements-background);
  font-family: var(--document-font-family);
}

.search-input {
  width: 60%;
  padding-left: 2.5rem;
  margin-left: -1.6rem;
}
.filter-input {
  width: 16.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

::placeholder {
  color: var(--dark-mode-text);
  font-family: var(--document-font-family);
}

.input-container {
  width: 50%;
}

.input-container label {
  position: relative;
  top: 0.3rem;
  left: 1rem;
  padding-right: 0.4rem;
}

label ion-icon {
  color: var(--dark-mode-text);
}

.country-cards {
  width: 90%;
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  color: var(--light-mode-text);
}

.card {
  width: 100%;
  background-color: var(--dark-mode-elements-background);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.card-text {
  padding: 1rem 1rem 3rem 1rem;
}

.card-text h1 {
  padding-bottom: 1rem;
}

.card-image-container {
  width: 100%;
  height: 10rem;
}

.card-image {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Hide Elements */
.hide {
 display: none;
 transition: 1s;
}

/* ====================== DETAIL SECTION STYLES ========================= */



.detail-section {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}

.btn,
.border-btn {
    border: none;
    padding: 0.5rem 2rem;
    background-color: var(--dark-mode-elements-background);
    color: var(--dark-mode-text);
    cursor: pointer;
}

.border-btn {
    padding: 0.5rem 1rem;
    margin: 0.2rem 0.2rem 0 0;
}

.back-btn {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadows);
    font-family: var(--document-font-family);
}

.back-btn  ion-icon {
  padding-right: 0.4rem;
}

#border-back-button {
  margin: 0 0 2rem 0;
}

.detail-items {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-img-container {
 width: 40%;
}

.detail-img-container img {
    max-width: 100%;
    width: 100%;
}

.detail-country-name {
    padding-bottom: 1rem;
}

.detail-text {
    margin-top: 3rem;
    width: 55%;
}

.country-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.languages span {
   padding-right: 5px;
}

.languages span::after {
  content: ',';
}

.languages span:last-of-type::after {
  content: '';
}

.border-countries-container {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* =========== Border Detail Styles ================ */
/* Border Details */

.border-details {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

/* Search Result Styles */
.search-result {
  width: 90%;
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  color: var(--light-mode-text);
}

/* Back to the top Button */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: var(--dark-mode-background);
    cursor: pointer;
    outline: none;
    border: 3px solid var(--dark-mode-elements-background);
    border-radius: 50%;
    transition: color .2s ease-in-out;
}

#back-to-top-btn:hover {
    background-color: var(--dark-mode-elements-background);
    color: #fff;
}

.btnEntrance {
    animation-duration: 1s;
    animation-fill-mode :both;
    animation-name :btnEntrance;
}

@keyframes btnEntrance {
    from{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
    }
} 

@keyframes btnExit {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}  



footer {
    padding: 3rem 0 1rem 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 375px) {
  header nav {
    width: 90%;
    font-size: 10px;
  }

  .input-boxes {
    width: 90%;
    flex-direction: column;
  }

  .input-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .search-input {
    width: 100%;
    padding-left: 3rem;
    margin-left: 0rem;
  }

  .input-container label {
    position: relative;
    top: 2.5rem;
    left: 1rem;
    padding-right: 0.4rem;
  }

  .country-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 20px 26px 93px 10px rgba(0, 0, 0, 0.1);
  }

  /* =============== Details Section Mobile Design ==================== */
  .detail-section {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}

.detail-items {
    flex-direction: column;
    justify-content: space-between;
}

.detail-img-container {
 width: 100%;
}

.detail-img-container img {
    max-width: 100%;
    width: 100%;
}

.detail-text {
    width: 100%;
}

.country-details {
    flex-direction: column;
}

.country-details div:first-of-type{
    padding-bottom: 2rem;
}

.border-countries-container {
    padding-top: 2rem;
    flex-direction: column;
}

.border-countries-container h3 {
    padding-bottom: 1rem;
}

.hide {
  display: none;
}

footer {
    text-align: left;
}

}